body {
    display: grid;
}

img {
    max-width: 10%;
}

.sidebar {
    background-color: #38bdf8;
    grid-row: 1/3;
    color: white;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.dashboard, .home, .profile, .messages, .history, .tasks, .communities, .settings, .support, .privacy {
    display: flex;
    align-items: center;
}

img > div {
    max-width: 10%;
}

.searchbar {
    grid-column: 2/5;
    height: 10vh;
}

.main-content {
    overflow: auto;
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 70% 30%;
} 